#chat-screen {
  height: 1000vh;
}

#chat-screen,
#chat-screen .status-bar {
  background-color: #abc1d1;
}

#chat-screen .alt-header {
  background-color: #abc1d1;
}

.main-chat {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-chat__timestamp {
  background-color: #92a4b2;
  padding: 5px 15px;
  border-radius: 25px;
  font-size: 14px;
  color: white;
  margin-bottom: 25px;
}

.message-row {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.message-row img {
  width: 45px;
  height: 45px;
  border-radius: 15px;
  margin-right: 10px;
}

.message-author {
  margin-bottom: 10px;
  display: block;
}

.message-info {
  display: flex;
  align-items: flex-end;
}

.message-bubble {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border-top-left-radius: 0;
  margin-right: 5px;
  font-size: 15px;
}

.message-time,
.message-author {
  opacity: 0.8;
  font-size: 12px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message-info {
  flex-direction: row-reverse;
}

.message-row--own .message-bubble {
  margin-right: 0px;
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 0px;
  background-color: var(--yellow);
}

.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  box-sizing: border-box;
}

.reply__column:first-child {
  width: 10%;
}

.reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply__column input {
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid var(--gray-border);
  border-radius: 20px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  top: 3px;
  right: 4px;
}

.reply__column:last-child > i {
  right: 50px;
  top: 13px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
