.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px var(--horizontal-space) var(--horizontal-space)
    var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons {
  position: relative;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons__updated {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: tomato;
  position: absolute;
  bottom: 20px;
  right: -5px;
}
